@model QuestInfoViewModel

<div class="alert alert-warning">
    <p>Currently, the average cost of involving in a quest is @Model.Avg simoleons. </p>
    <p>The minimum cost is @Model.Min and the maximum @Model.Max simoleons. </p>
</div>
<a asp-action="Index" class="btn btn-primary">Back</a>