@model QuestInfoViewModel

<div class="alert alert-warning">
    <p>Currently, the average reward a sim could get out of a successful quest is @Model.Avg simoleons. </p>
    <p>The minimum reward is @Model.Min and the maximum @Model.Max simoleons. </p>
</div>
<a asp-action="Index" class="btn btn-primary">Back</a>